<html>
    <head>
        <title>Blog Camilinha</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Camilinha</a></h1>
        </div>

        <div>
            <p>publicado: 14.09.2019, 16:29</p>
            <h2><a href="">1st</a></h2>
            <p>Teste do primeiro post no meu site! :)</p>
        </div>

        <div>
            <p>publicado: 14.09.2019, 16:30</p>
            <h2><a href="">2nd</a></h2>
            <p>Segundo teste!</p>
        </div>
    </body>
</html>
